
{% load static %}
<link rel="stylesheet" href="{% static 'accounts/css/auth.css' %}">


{% if site_settings.logo %}
  <link rel="shortcut icon" href="{{ site_settings.logo.url }}">
{% else %}
  <link rel="shortcut icon" href="{% static 'icons/logo.ico' %}">
{% endif %}

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">


<div class="auth-box">
  <div class="success">📧</div>
  <h1>Հղումն ուղարկված է</h1>
  <p>Ստուգեք ձեր էլ—փոստը</p>

  <a href="{% url 'homepage' %}">Վերադառնալ գլխավոր էջ</a>

</div>

<script>
  // Ուղարկում ենք fetch դեպի view
  fetch("{% url 'password_reset_done_ajax' %}", {
      method: "POST",
      headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": "{{ csrf_token }}"
      },
      body: JSON.stringify({ message: "user_seen_success_page" })
  })
  .then(response => response.json())
  .then(data => {
      console.log('Server response:', data);
      // Նշում է console-ում, որ օգտատերը դուրս է եկել
      // Էջը մնում է նույնը, redirect չկա
  })
  
</script>



