{% load static %}
<!DOCTYPE html>

<html lang="hy">

<head>
  <link rel="stylesheet" href="{% static 'accounts/css/password_reset_complete.css' %}">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Գաղտնաբառ փոխվեց</title>
  {% if site_settings.logo %}
    <link rel="shortcut icon" href="{{ site_settings.logo.url }}">
  {% else %}
    <link rel="shortcut icon" href="{% static 'icons/logo.ico' %}">
  {% endif %}

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  
</head>
<body>

<div class="auth-box">
  <div class="success-anim">
    <svg viewBox="0 0 52 52">
      <circle class="success-circle" cx="26" cy="26" r="25" fill="none"/>
      <path class="success-check" d="M14 27 L22 35 L38 19" fill="none"/>
    </svg>
  </div>

  <p>Գաղտնաբառը հաջողությամբ փոխվեց</p>

  <a href="{% url 'homepage' %}">Գլխավոր էջ</a>
</div>

</body>
</html>
