{% load static %}
<link rel="stylesheet" href="{% static 'accounts/css/auth.css' %}">

{% if site_settings.logo %}
  <link rel="shortcut icon" href="{{ site_settings.logo.url }}">
{% else %}
  <link rel="shortcut icon" href="{% static 'icons/logo.ico' %}">
{% endif %}

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<div class="auth-box">
  <h1>Գաղտնաբառի վերականգնում</h1>
  <p>Մուտքագրեք ձեր էլ-հասցեն</p>

  {% if messages %}
    {% for message in messages %}
      <div class="error-msg" >{{ message }}</div>
    {% endfor %}
  {% endif %}

  <form method="post">
    {% csrf_token %}
    <input type="email" name="email" placeholder="Օրինակ՝ user@example.com" required>
    <button type="submit">Ուղարկել հղումը</button>
  </form>

  {% if user.is_authenticated %}
    <a href="{% url 'welcome' %}">Վերադառնալ անձնական էջ</a>
  {% else %}
      <a href="{% url 'login' %}">Վերադարձ մուտքի էջ</a>
  {% endif %}

</div>

