

<div class="sidebar-header">
    <div class="profile_logo">GMX</div>
</div>

<div class="sidebar-menu">

    <div class="menu-item active" data-section="settings">
        <svg class="icon" viewBox="0 0 24 24">
            <path d="M12 15.5A3.5 3.5 0 1 0 12 8a3.5 3.5 0 0 0 0 7.5z"/>
            <path d="M19.4 15a1.7 1.7 0 0 0 .34 1.87l.06.06a2 2 0 1 1-2.83 2.83l-.06-.06A1.7 1.7 0 0 0 15 19.4a1.7 1.7 0 0 0-1 .6 1.7 1.7 0 0 0-.4 1.1V21a2 2 0 1 1-4 0v-.1a1.7 1.7 0 0 0-.4-1.1 1.7 1.7 0 0 0-1-.6 1.7 1.7 0 0 0-1.87.34l-.06.06a2 2 0 1 1-2.83-2.83l.06-.06A1.7 1.7 0 0 0 4.6 15a1.7 1.7 0 0 0-.6-1 1.7 1.7 0 0 0-1.1-.4H2a2 2 0 1 1 0-4h.1a1.7 1.7 0 0 0 1.1-.4 1.7 1.7 0 0 0 .6-1 1.7 1.7 0 0 0-.34-1.87l-.06-.06a2 2 0 1 1 2.83-2.83l.06.06A1.7 1.7 0 0 0 9 4.6c.3-.3.47-.7.4-1.1V3a2 2 0 1 1 4 0v.1c0 .4.17.8.4 1.1.3.3.7.47 1.1.4h.1a2 2 0 1 1 0 4h-.1a1.7 1.7 0 0 0-1.1.4 1.7 1.7 0 0 0-.6 1c-.07.4.1.8.4 1.1z"/>
        </svg>
        <span>Կարգավորումներ</span>
    </div>

    <div class="menu-item" data-section="notifications">
        <svg class="icon" viewBox="0 0 24 24">
            <path d="M18 8a6 6 0 1 0-12 0c0 7-3 7-3 7h18s-3 0-3-7"/>
            <path d="M13.73 21a2 2 0 0 1-3.46 0"/>
        </svg>
        <span>Ծանուցումներ</span>
    </div>

    <div class="menu-item" data-section="orders">
        <svg class="icon" viewBox="0 0 24 24">
            <path d="M3 3h18v4H3zM3 9h18v12H3z"/>
        </svg>
        <span>Պատվերներ</span>
    </div>

    <div class="chat_message" >
        <svg class="icon" viewBox="0 0 24 24">
            <path d="M21 15a4 4 0 0 1-4 4H7l-4 4V7a4 4 0 0 1 4-4h10a4 4 0 0 1 4 4z"/>
        </svg>
        <a href="{% url 'chat_home' %}">Հաղորդագրություններ</a>

    </div>

    <div class="menu-item" data-section="payments">
        <svg class="icon" viewBox="0 0 24 24">
            <rect x="2" y="5" width="20" height="14" rx="2"/>
            <line x1="2" y1="10" x2="22" y2="10"/>
        </svg>
        <span>Վճարումներ</span>
    </div>

    <div class="menu-item" data-section="rules">
        <svg class="icon" viewBox="0 0 24 24">
            <path d="M4 4h16v16H4z"/>
            <line x1="8" y1="8" x2="16" y2="8"/>
            <line x1="8" y1="12" x2="16" y2="12"/>
        </svg>
        <span>Կանոնադրություն</span>
    </div>

    <div class="menu-item" data-section="contracts">
        <svg class="icon" viewBox="0 0 24 24">
            <path d="M6 2h9l5 5v15H6z"/>
            <line x1="9" y1="9" x2="15" y2="9"/>
            <line x1="9" y1="13" x2="15" y2="13"/>
        </svg>
        <span>Պայմանագրեր</span>
    </div>

</div>
