{% load static %}

<section class="footer">

  <div>
    <h4>GlobalMedex</h4>
    <p>Մեկ միասնական հարթակ բոլոր բժշկական մատակարարների, բժիշկների և բուժհաստատությունների համար։</p>
  </div>

  <div>
    <h4>Կատալոգ</h4>
    <a href="{% url 'productspage' %}">Ապրանքներ</a>
    <a href="{% url 'importerspage' %}">Մատակարարներ</a>
    <a href="{% url 'standardpage' %}">Ստանդարտներ և դասակարգում</a>
    <a href="{% url 'vlogpage' %}">Բլոգ</a>
    <a href="{% url 'aboutpage' %}">Մեր մասին</a>
  </div>

  <div>
    <h4>Կապ</h4>
    <a href="mailto:infoglobalmedex@gmail.com">Email: infoglobalmedex@gmail.com</a>
    <a href="tel:+37493599890">Phone: +374 93599890</a>
    <a>Yerevan, Armenia</a>
  </div>

</section>

<!-- Footer Bottom -->
<div class="footer-bottom">
  <div class="footer-bottom-inner">
    <span>© 2026 GlobalMedex.(GMX) Բոլոր իրավունքները պաշտպանված են։</span>
    <span class="footer-version">GMX v1.1.2</span>
  </div>
</div>